body {
    display: flex;
    justify-content: center;       
    align-items: center;           
    min-height: 100vh;             
    margin: 0;
    font-family: arial;
    font-size: 32px;
    text-transform: uppercase;
    color: lightgoldenrodyellow;
    text-align: center;
    background-color: lightgoldenrodyellow;
    background-image: url(assets/back_pg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;                 
}

.text-container {
	width: 90vw;
	max-width: 900px;


}

.text-container p {
    line-height: 1.5;
    font-size: clamp(24px, 2vw, 32px);   
}


.bottom-button {
    position: fixed;
    bottom: 20px;       
    right: 20px;        
    left: auto;          
    transform: none;     
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
    color: lightgoldenrodyellow;
    text-decoration: none;
}

.bottom-button:hover {
    color: lightgrey;
}

.arrow {
	width: 18px;
	height: 18px;
	border-right: 3px solid currentColor;
	border-bottom: 3px solid currentColor;
	transform: rotate(315deg);
	display: block;
	background-color: transparent;

}




.top-button {
    position: fixed;
    top: 20px;           
    left: 20px;         
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
    color: lightgoldenrodyellow;
    text-decoration: none;
}


.arrow-back {
    width: 18px;
    height: 18px;
    border-top: 3px solid currentColor;     
    border-left: 3px solid currentColor;    
    transform: rotate(-45deg);               
    display: block;
    background-color: transparent;
}


.top-button:hover {
    color: lightgrey;
}


