
* {
	background-color: black;
	margin: 0;
	box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;   
    justify-content: flex-start; 
    align-items: center;      
    gap: 20px;                
    height: 100vh;            
    overflow-y: auto;         
    padding: 20px 0;          
}

.container img {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
	
}

.photo-card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    flex-shrink: 0;
}

.photo-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.photo-card:hover .photo-inner {
    transform: rotateY(180deg);
}

.photo-front {
	 position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0px;
    overflow: hidden;
}
.photo-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   border-radius: 0px;
    overflow: hidden;
}

.photo-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.photo-card.head-top img {
	object-position: top;
}

.photo-card.head-bottom img {
	object-position: 30% 0;
}


.photo-back {
    background: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    transform: rotateY(180deg);
}

.photo-back p {
	font-family: arial;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	background-color: transparent;
}



.container::-webkit-scrollbar {
    display: none;
}

.container::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
}

.container::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 6px;
}


.bottom-button {
    position: fixed;
    bottom: 20px;       
    right: 20px;        
    left: auto;          
    transform: none;     
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
    color: lightgoldenrodyellow;
    text-decoration: none;
}

.bottom-button:hover {
    color: lightgrey;
}

.arrow {
	width: 18px;
	height: 18px;
	border-right: 3px solid currentColor;
	border-bottom: 3px solid currentColor;
	transform: rotate(315deg);
	display: block;
	background-color: transparent;

}




.top-button {
    position: fixed;
    top: 20px;           
    left: 20px;          
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
    color: lightgoldenrodyellow;
    text-decoration: none;
}


.arrow-back {
    width: 18px;
    height: 18px;
    border-top: 3px solid currentColor;     
    border-left: 3px solid currentColor;    
    transform: rotate(-45deg);               
    display: block;
    background-color: transparent;
}

/* Hover effect */
.top-button:hover {
    color: lightgrey;
}










